* {
  padding: 0;
  margin: 0;
  border: 0
}

/* MENU LATERAL  */
main {
  display: flex;
  padding: 0px 0px 0px 21%;
  height: 100vh;
  background-color: #121112;
}

.font-standart {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.font-contrast {
  color: #f43f33;
  font-family: 'Fredoka One', cursive;
}

#aside-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: #1d1b1d;
  border-right: #363537 2px solid;
}

#header-aside-left {
  margin-bottom: 25%;
}

.title-contrast {
  font-family: 'Tangerine', cursive;
  font-size: 80px;
}

.title-content {
  padding: 6% 0px 0px 0px;
  font-size: xx-large;
}

#subtitle-content {
  padding: 10% 0px 0px 0px;
}

#title-aside-left {
  display: flex;
  justify-content: center;
  border: 0px;
  padding: 0px;
}

#subtitle-aside-left {
  display: flex;
  justify-content: center;
  border: 0px;
  padding-right: 25%;
}

#ico-top {
  display: flex;
  justify-content: flex-end;
  font-size: 70px;
}

.fa-angle-right {
  padding-right: 20%;
}

#ico-bottom {
  font-size: 70px;
  align-self: flex-end;
  flex-direction: row;
  align-content: initial;
}

.fa-angle-left {
  padding-left: 15%;
}

#nav {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  list-style-type: none;
}

a {
  margin: 30px 0px 0px 0px;
  font-weight: bold;
  font-size: large;
}

a:active,
a:hover {
  color: #f43f33;
}

.ico-nav {
  margin-right: 20px;
}

hr {
  background-color: #363537;
  width: 150px;
  height: 2px;
  margin: 5px 0px 0px -10px;
}

/* MAIN  */
#home {
  display: flex;
}

#descreption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ico-top-avatar {
  display: flex;
  justify-content: flex-start;
  font-size: 80px;
  padding-right: 100px;
  margin-right: 400px;
}

#ico-botton-avatar {
  display: flex;
  justify-content: end;
  font-size: 80px;
  padding-right: 100px;
  margin-right: 400px;
}

#avatar-img {
  height: 550px;
  background-color: white;
  border-radius: 30px;
}

